{% extends "layout.html" %}


{% block content %}
<div class="table-responsive col-md-4">
  <table class="table table-sm text-center">
    <thead class="table-dark">
      <tr>
        <th>Palabra <i class="bi bi-arrow-right"></i> Veces buscada</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><a href="{% url 'detail' search.id %}">{{ search.words }} <i class="bi bi-arrow-right"></i></a> {{ search.totalmatch }}</td>
      </tr>
      <tr>
        <th>Veces buscada <i class="bi bi-arrow-right"></i> Fecha</th>
      </tr>
      {% for metadata in search.metadatas %}
      <tr>
        <td>{{ metadata.match }} <i class="bi bi-arrow-right"></i> {{ metadata.date }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <a href="{% url 'index' %}"><i class="bi bi-arrow-left"></i>volver</a>
</div>
{% endblock %}
